.outer-container {
    display: flex;
}

.top {
    width: 70%;
    padding: 20px;
    border-right: 2px solid lightgrey;
}

.bottom {
    width: 25%;
}

.inside-container {
    display: flex;
    padding: 20px;
}

.inside-container img {
    margin-right: 20px;
}